.Auth {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  position: relative;
  gap: 2rem;
}
.Auth > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoName {
  gap: 2rem;
}
.logoName > img {
  width: 4rem;
  height: 4rem;
}
.webName > h1 {
  font-size: 3rem;
  background-color: red;
  background-image: var(--buttonBg);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.webName > h6 {
  font-size: 0.85rem;
}

.a-action {
  background-color: var(--cardColor);
  width: 40%;
  max-width: 400px;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.infoForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.infoForm > div {
  display: flex;
  gap: 1rem;
  flex: 1;
}
.InfoInput {
  width: 90%;
  border: none;
  outline: none;
  padding: 20px;
  background-color: var(--inputColor);
  border-radius: 8px;
  flex: 1;
}

.cheakProfile {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}
.InfoButton {
  padding: 0.5rem 2rem;
}

.cheakProfile > span {
  display: flex;
  align-items: center;
}
.signstyle{
  border: none;
  background: transparent;
  cursor: pointer;
}

.alartMsg{
  font-size: 14px;
  color: red;
}
@media screen and (max-width: 768px) {
  .Auth {
    flex-direction: column;
    gap: 0.5rem;
  }
  .a-action{
    width: 90%;
    
  padding: 1rem 2rem;
  }
 }