.Home {
    position: relative;
    display: grid;
    grid-template-columns: 18rem auto 20rem;
    gap: 1rem;
    height: 100vh;
}

/* Medium screens (tablets and smaller desktops) */
@media (max-width: 1024px) {
    .Home {
        grid-template-columns: 15rem auto 15rem; /* Adjust column widths */
        gap: 1rem;
    }
}

/* Small screens (phones and very small devices) */
@media (max-width: 768px) {
    .Home {
       display: flex;
       flex-direction: column;
    }
}

