.ProfileSide{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    overflow: auto;
}
.ProfileSide::-webkit-scrollbar {
    width: 0; 
    background: transparent;
  }

  /* Small screens (phones and very small devices) */
@media (max-width: 780px) {
    .ProfileSide {
       display: none
    }
}

